<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyApp</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<h1>Welcome, now I will build a website.</h1>
<div class="container fluid text-center">
    <a class="row h2" th:href="@{/teachers}">View teachers</a>
    <a class="row h2" th:href="@{/students}">View students</a>
    <a class="row h2" th:href="@{/everyone}">View everyone</a>
</div>
</body>
</html>