<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]] | MyApp</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>[[${pageTitle}]]</h2></div>
    <div class="container d-flex justify-content-center">
        <form class="col-sm-8" method="post" th:action="@{/students/save}" th:object="${student}">
            <input th:field="*{id}" type="hidden"/>
            <div class="border border-secondary rounded p-3">
<!--                <div class="form-group row">-->
<!--                    <label class="col-sm-4 col-form-label">Email:</label>-->
<!--                    <div class="col-sm-8">-->
<!--                        <input class="form-control" maxlength="30" minlength="8" required th:field="*{email}"-->
<!--                               type="email"/>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">First Name:</label>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="15" minlength="2" required th:field="*{firstName}"
                               type="text"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Last Name:</label>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="15" minlength="2" required th:field="*{lastName}"
                               type="text"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Date of birth:</label>
                    <div class="col-sm-8">
                        <input class="form-control" required th:field="*{dateOfBirth}"
                               type="text"/>
                    </div>
<!--                </div>-->
<!--                <div class="form-group row">-->
<!--                    <label class="col-sm-4 col-form-label">Enabled:</label>-->
<!--                    <div class="col-sm-8">-->
<!--                        <input class="form-control" th:field="*{enabled}" type="checkbox"/>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="text-center">
                    <button class="btn btn-primary m-2" type="submit">submit</button>
                    <button class="btn btn-secondary m-2" onclick="cancelForm()" type="button">cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function cancelForm() {
    window.location= "[[@{/students}]]"
    }
</script>
</body>
</html>