<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher management | MyApp</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Manage teachers</h2></div>
    <div class="m-2"><a class="h3" th:href="@{/teachers/new}">Add new teacher</a></div>
    <div class="alert alert-success text-center" id="successAlert" th:if="${message}">
        [[${message}]]
    </div>
    <div class="alert alert-warning text-center" id="warningAlert" th:if="${alert}">
        [[${alert}]]
    </div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Email</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="teacher : ${listTeachers}">
                <tr>
                    <td>[[${teacher.email}]]</td>
                    <td>[[${teacher.firstName}]]</td>
                    <td>[[${teacher.lastName}]]</td>
                    <td>[[${teacher.enabled}]]</td>
                    <td><a class="h4 mr-3" th:href="@{'/teachers/edit/' + ${teacher.id}}"><i class="bi bi-pen"></i></a>
                        <a
                                class="h4" th:href="@{'/teachers/changeStatus/' + ${teacher.id} + '/true'}"><i
                                class="bi bi-clipboard-plus"></i></a><a
                                class="h4" th:href="@{'/teachers/changeStatus/' + ${teacher.id} + '/false'}"><i
                                class="bi bi-clipboard-minus"></i></a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<script>
    const warningAlertElement = document.getElementById('warningAlert');
    const successAlertElement = document.getElementById('successAlert');

    // Function to hide an alert
    function hideAlert(alertElement) {
        alertElement.style.display = 'none';
    }
    setTimeout(() => hideAlert(warningAlertElement), 5000);
    setTimeout(() => hideAlert(successAlertElement), 5000);
</script>
</body>
</html>